 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;

 }

 header {
     display: flex;
     justify-content: space-between;
     padding: 10px 30px;
     align-items: center;

 }
 }


 body {
     background-color: #f8f9fb;

 }

 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 16px 60px;
     background-color: #ffffffcf;

 }

 .logo img {
     height: 40px;
 }

 .menu {
     list-style: none;
     display: flex;
     gap: 52px;
 }

 .menu li a {
     text-decoration: none;
     color: #1b0909;
     font-size: 15px;
 }

 .button {
     background-color: #2f855a;
     padding: 10px 18px;
     font-size: 15px;
     color: white;
     border: none;
     border-radius: 3px;
 }

 .nav-btn a:hover {
     background-color: #276749;
 }

 #banner .image {
     width: 100%;
     position: relative;

 }

 #banner .banner-container {
     position: absolute;
     top: 50%;
     right: 50px;

 }

 #banner .banner-container h4 {
     background-color: white;
     color: green;
     display: inline;
     padding: 5px 15px;
     border-radius: 30px;
 }
 #banner .white-text {
  color: white;
  padding: 3px;
    
 }

 #banner .green-text {
     color: green;
 }

 #banner .banner-container p {
     margin: 20px 0;
 }

 #skills {
     padding-top: 130px;
     width: 70%;
     max-width: 1200px;
     margin: 0 auto;
 }
 .skills-heading {
    margin:5px
    padding: 0;
    text-align: center;
 }

 #skills .skills-box {
     display: flex;
     padding: 50px;
     gap: 26px;
 }

 .skills.card {
     border-style: inset;
     border-radius: 5px;

 }

 .skills.card img {
     background-color: red;
     border-radius: 70%;
     padding: 5px;
     justify-items: center;
 }
 #brain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 80px;
 }

.brain-heading h4 {
    color:#666;
    margin-bottom: 11px;
} 
.brain-heading h2{
    font-size: 35px;
    margin-bottom: 14px;
}
.brain-heading p{
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}
.list {
    list-style:none;
    position: absolute;
    align-items: center;
    justify-content: center;
}



















