 * {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  
    font-family: Arial, sans-serif;    

    } 
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;

}                                                                                                                                             }


  body{ 
    background-color: #f8f9fb;

    } 
 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 60px;
    background-color: #ffffffcf;
    
}
.logo img{
    height: 40px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 52px;
}

.menu li a {
    text-decoration: none;
    color: #170404;
    font-size: 15px;
}
 .nav-btn a {

   background-color: #2f855a;
   padding-right: 10px 18px;
   font-size: 15px;
   text-align: right;
    
}
.nav-btn a:hover {
    background-color: #276749;
}

#banner .image {
    width: 100%;
    position: relative;

    }
#banner .banner-container {
    position: absolute;
    top: 50%;
    right: 50px;

}
#banner.banner-container h1 {
    font-size: 85px;
    font-weight: 800;
    color: green;
}
#skills {
    padding-top: 130px;
    width: 70%;
    max-width: 1200px;
     margin:0 auto;
}
#skills .skills-box {
    display: flex;
    padding: 50px;
    gap: 26px;
}
.skills.card {
    border-style: inset;
    border-radius: 5px;

}
.skills.card img {
    background-color: red;
    border-radius: 70%;
    padding: 5px;
}
